/* icons */
@charset "UTF-8";

@font-face {
  font-family: "restaurant-icons";
  src:url("../fonts/restaurant-icons.eot");
  src:url("../fonts/restaurant-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/restaurant-icons.woff") format("woff"),
    url("../fonts/restaurant-icons.ttf") format("truetype"),
    url("../fonts/restaurant-icons.svg#restaurant-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "restaurant-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "restaurant-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-location:before {
  content: "\62";
}
.icon-phone:before {
  content: "\63";
}
.icon-map:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-mail:before {
  content: "\66";
}
.icon-menu:before {
  content: "\67";
}
.icon-youtube:before {
  content: "\68";
}

/* style template */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column {
    width: 100%;
}

/* Header style */

.main-header {
    width: 100%;
}

.logo {
    font-size: 1.8em;
    color: #DE423A;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.phone {
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.location {
    padding: 10px;
    margin: 0;
}

.main-header [class*="icon-"]:before {
    position: relative;
    top: 2px;
    right: 5px;
}